$surface1: #C4C4C4;
$surface2: #E5E5E5;
$surface3: #F9F9F9;
$surface4: #F2F2F2;
$surface5: #F0F0F0;
$surface6: #8A8A8A;
$surface7: #262626;

$brand: #0F2F31;
$white: #FFFFFF;
$black: #000000;
$red1: #F60404;
$red2: #F14040;
$green: #0E702A;


$text1: #7B7B7B;
$text2: #3D3D3D;
$text3: rgba(#8D8D8D, 0.7);
$text4: #bfbfbf;
